.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-bottom-width: 0;
}

.row:last-child {
  border-bottom-width: 1px;
}

.col1,
.col2,
.col3,
.col4 {
  padding: 1%;
}

.col1 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  flex-basis: 25%;
}

.displayAlertText {
  display: block;
  font-weight: bold;
  color: rgb(191, 0, 0);
}

.displayGreenText {
  display: block;
  color: rgba(0, 142, 0, 0.783);
}

.hideText {
  display: none;
}

.col2 {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}

.col3 {
  flex-basis: 15%;
}

.col4 {
  display: flex;
  flex-basis: 15%;
  justify-content: flex-end;
}
